/* styles.css */

body {
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  header {
    background-color: #0e0124;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  header nav ul li a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 4px;
  }

  .hero {
    background-image: url("images/student.jpg");
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    position: relative;
    filter: brightness(99%);
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity value here */
    z-index: -1;
  }
  
  .container {
    
    color: #fff;
    padding: 80px;
    text-align: center;
  }
  
  .container h1 {
    font-size: 36px;
    margin-top: 0;
  }

  .container p {
    font-size: 17.5px;
  }

  .container img {
    width: 500px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper spacing */
    margin: 20px auto; /* Adjust the margin as needed */
  }


  .about {
    position: relative;
  }
  
  .about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/student1.jpg);
    background-color: rgba(8, 2, 2, 0.7);
    background-blend-mode: multiply;
  }
  
  .about .container {
    color: #fff;
    padding: 80px;
    text-align: center;
  }
  
  .about h1 {
    font-size: 36px;
    margin-top: 0;
    filter: brightness(90%);
  }

  .about p {
    filter: brightness(90%);
  }


  .social-icons {
    filter: brightness(90%);
    margin-bottom: 40px;
  } 

  .about .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
  .repo {
    margin-top: -35px;
    filter: brightness(90%);
  }

  /* Student Info Section */
  .student-info {
    background-color: #2b0f46;
    padding: 10px 0;
  }

  .student-info h1 {
    margin-top: -60px;
  }
  
  .card {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 80px;
  }
  
  .card-image img {
    width: 800px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    margin-left: -40px;
  }
  
  .card-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-description h2 {
    font-size: 24px;
    margin: 0;
    text-align: left;
    margin-bottom: 10px; /* Adjust the spacing as needed */
  }
  
  .card-description p {
    margin: 0;
    text-align: justify;
    margin-top: 10px; /* Adjust the spacing as needed */
  }

  .card-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Adjusted alignment */
  }
  
  .read-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 0; /* Added margin-left */
  }
  
  .read-more-button:hover {
    background-color: #0056b3;
  }


  /* Student Details */
  .student-details {
    background: linear-gradient(135deg, #413506, #1b0b46); /* Adjust the colors as desired */
    padding: 40px 0;
  }
  
  .student-details .container {
    display: flex;
    justify-content: center;
  }
  
  .student-details .card {
    /* background-color: #fff; */
    border-radius: 4px;
    padding: 20px;
    display: flex;
    gap: 80px;
  }
  
  .student-details .card-image img {
    width: 800px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px;
    margin-right: -50px;
  }
  
  .student-details .card-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .student-details .card-description h2 {
    font-size: 24px;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .student-details .card-description p {
    margin: 0;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .student-details .read-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 0; /* Align button to the right */
  }
  
  .student-details .read-more-button:hover {
    background-color: #0056b3;
  }
  
  
  
  
  


  
  
  .features {
    background-color: #0e0124;
    padding: 40px 0;
  }
  
  .features h3 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #0e0124;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  